// Accent colors
// -------------------------
$white:					#ffffff;
$black: 				#000000;
$mine-shaft:			#282828;
$lighter-mine-shaft:    #363636;
$outer-space:			#333739;
//$grey:					#cdcccc;
$silver:				#c0c0c0;
$silver-approx:			#bababa;
$mine-shaft-approx:     #333333;
$dove-gray:             #666666;
$slate-gray:			#798796;
$dusty-ray:			    #999999;
$athens-gray:           #eff1f6;
$mountain-mead-apx:     #1ea65e;
$lima-approx:           #30a81c;
$gossamer-approx:       #03957b;
$azure-radiance-apx:    #0095ff;
$shakespeare-apx:		#40a3d3;
$royal-blue-apx:		#3b55d9;
$malibu-apx:            #9dcffa;
$pumpkin-apx:			#ff7113;
$tulip-tree-apx:		#eab544;
$alizarin-apx:			#e01919;
$roman-coffee-apx:      #795549;
$french-rose-apx:       #f35677;
$cerise-apx:            #e3349f;
$clay-creek:            #87825d;
$border-color:          #dddddd;
$curious-blue:          #218ccc;
$purple-heart:          #941FD6;
$robin-egg-blue:        #01BBD4;
$orange:                #FF5521;
$limed-spruce:          #363F46;