/***************************************************************** 
   Style Index
------------------------------------------------------------------   	  
   00 Import Stylesheets
   
   01 Body Styles
      1.1 Main Wrapper Styles
   
   02 Header Section Styles
   	  2.1  Top Header with Location Select
	  2.2  Main Navigation & Search Section
   	  
   03 Main Content Section Styles
	  3.1 Modal Window Styles
	  3.2 Landing/Home Page Styles
	  3.3 Story Page Styles
	  3.4 Entertainnment Page Styles
	  3.5 City Page Styles
	  3.6 Lifestyle Page Styles
	  3.7 Sports Page Styles
	  3.8 Authors Page Styles

   05 Footer Section Styles
	  5.1 Footer List Links
	  
   06 Common Styles
	  6.1 Form Styles
	  6.2 Buttons Styles
	  6.3 Links/Input Styles
	  6.4 Image/Media Styles
	  6.5 Unordered/Ordered List Styles
	  6.6 Padding Styles
	  6.7 Margin Styles
	  6.8 Off Canvas Styles
	  6.9 Back to Top Styles
	  6.10 Owl Custom Nav Style
	  6.11 Custom Select/Select2 Styles
	  6.12 No Gutter Styles
	  6.13 Custom checkbox and radio buttons
	  6.14 Spirit images Styles
	  6.15 Common Class Styles
*****************************************************************/
/************************************************************************************

=========================== 00 Import Stylesheets ================================= 

************************************************************************************/
@import "module/colors";
@import "module/variable";
@import "module/mixin";
@import "vendor-css/dd";

/************************************************************************************

=========================== 01 Body Style ================================= 

************************************************************************************/
/* {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
*/
html {
  min-height: 100%;
  position: relative;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
  outline:0px !important;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
}


body {
  font-family: $font-family-ubunturegular;
  background: #2b2f32;
  color: $mine-shaft;
  padding-top: $padding-base-5 * 19;
  position: static;
  @include transition-none(none);
}
ul {margin: $margin-none; padding: $padding-none;}
ul li {list-style: none;}
a, a:hover {text-decoration: none;}
.h1, .h2, .h3, h1, h2, h3, .headingthree {
  margin-top: $margin-base-5 * 4;
  margin-bottom: $margin-base-5 * 2;
}

h1, h2, h3, h4, h5, .headingtwo, .headingfour, .headingthree, .headingfive {
  font-family: $font-family-ubunturegular;
}
h2 {
  line-height: 30px;
}
.headingtwo {
  font-size: 30px;
  line-height: 30px;
}
h3, .headingthree {
  font-size: 24px;
  line-height: 23px;
}
h4, .headingfour {
  line-height: 23px;
  font-size: 18px;
  margin: ($margin-base-5 * 2) $margin-none;
}
.headingfive {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: ($margin-base-5 * 2) $margin-none;
}
.para-txt {
  margin: $margin-none $margin-none ($margin-base-5 * 2);
}


@font-face {
  font-family: 'ubuntumedium';
  src: url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu-m-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu-r-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ubuntulight';
  src: url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu-l-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ubuntubold';
  src: url('../fonts/ubuntu-b-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu-b-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/************************************************************************************

=========================== 02 Header Section Styles ================================= 

************************************************************************************/

/****************************************
   2.1 Top Header
****************************************/
header {
  position: fixed;
  top:0;
  z-index: 999;
  width: 100%;
  margin: auto;
  background: #fff;
  @include box-shadow(0px 2px 9px 0px rgba(50, 50, 50, 0.2));

  .header-top {
    background: #e1e5e8;
    padding: $padding-base-5 ($padding-base-5 * 3);

    .share-mkt-highlight {
      li {
        display: inline-block;
        margin-right: $margin-base-5 * 5;

        a {
          display: block;
          padding: 5$padding-base-5;
          color: #666666;
          text-decoration: none;
          font-size: 12px;

          i {
            display: inline-block;
            width: 15px;
            height: 10px;
            vertical-align: top;
            margin-top: ($margin-base-5 - 3);
          }

          .highlight-tx {
            margin: $margin-none ($margin-base-5 - 3);
            color: #000;
          }

          .col-green {
            color: #209e3d;
          }
        }
      }
    }
  }

  .header-main {
    position: relative;

    .header-area {
      padding: 15px 15px 0px 15px;

      .header-left {
        float: left;

        .header-lt-sec {
          .logo {
            float: left;
            margin-bottom: 0;
          }

          .menu-lt-ar {
            float: left;
            margin-left: 25px;

            .menu-list {
              > li {
                display: inline-block;
                float: left;

                > a {
                  display: block;
                  padding: 8px 15px 24px 15px;
                  font-size: 13px;
                  color: #444444;
                  text-transform: uppercase;
                  font-family: $font-family-ubuntumedium;

                  &:hover {
                    color: #8dc63f;
                  }
                }

                &:hover{
                  .sub-menu-ar {
                    display: block;
                  }
                }

                .sub-menu-ar {
                  display: none;
                  position: absolute;
                  background: #fff;
                  padding: 15px;
                  width: 100%;
                  left: 0;
                  top: 65px;

                  &:before {
                    content: '';
                    background: #88c535;
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    left: 0;
                    top: 0;
                  }

                  .sub-menu-list {
                    text-align: center;

                    li {
                      display: inline-block;

                      a {
                        display: block;
                        padding: 8px 15px;
                        font-size: 13px;
                        color: #444444;
                        text-transform: uppercase;
                        font-family: $font-family-ubuntumedium;

                        i {
                          display: inline-block;
                          margin-top: -7px;
                        }
                      }
                    }
                  }

                  .sub-large-menu{
                    border-right: 1px solid #e8e8e8;
                    min-height: 290px;
                    margin: 15px 0;

                    .sub-menu-fluid {
                      &.prod-service {
                        li {
                          margin-bottom: 15px;
                        }
                      }

                      li {
                        display: block;

                        a {
                          display: block;
                          padding: 8px 15px;
                          font-size: 13px;
                          color: #1d723f;
                          text-transform: uppercase;
                          font-family: $font-family-ubuntumedium;

                          i {
                            display: inline-block;
                            margin: -7px 5px 0 0;
                          }
                        }
                      }
                    }

                    .sub-menu-service {
                      margin-left: 67px;

                      li {
                        a {
                          color: #444444;
                          display: block;
                          padding: 5px 0;
                          font-size: 14px;
                          font-family: $font-family-ubuntumedium;
                        }

                        ul {
                          margin: 10px 0 0 10px;

                          li {
                            margin-bottom: 5px;

                            a {
                              color: #8dc63f;
                              display: block;
                              padding: 0;
                              font-family: $font-family-ubunturegular;
                            }
                          }
                        }
                      }
                    }
                  }

                }

              }
            }
          }
        }
      }

      .header-right {
        float: right;

        .header-links {
          display: inline-block;
          vertical-align: middle;

          li {
            display: inline-block;
            border-right: 1px dotted #ccc;

            &:last-child {
              border-right: none;
            }

            &.build-wealth {
              a {
                color: #f7941e;
              }
            }

            &.active-trade {
              a {
                color: #1e723f;
              }
            }

            a {
              display: block;
              padding: 5px 10px;
              text-transform: uppercase;
            }
          }
        }

        .account-links {
          display: inline-block;
          vertical-align: middle;
          margin: 0 15px;
          padding: 2px 10px;
          background: #8ac639;
          color: #fff;
          border-radius: $base-border-radius;
        }

        .search-links {
          display: inline-block;
          vertical-align: middle;

          li {
            display: inline-block;

            a {
              display: block;
              padding: 2px 8px;
            }
          }
        }
      }
    }
  }

}

/****************************************
   2.2 Main Navigation & Search Section
****************************************/

/************************************************************************************

=========================== 03 Main Content Section Styles =========================== 

************************************************************************************/

/**************************************** 
   3.1 Modal Window Styles
****************************************/

.modal-dialog {
  width: 420px;
}

.modal {
  text-align: center;
  background: -moz-linear-gradient(92deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.6)), color-stop(100%, rgba(0,0,0,0.6))); /* safari4+,chrome */
  background: -webkit-linear-gradient(92deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(92deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(92deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* ie10+ */
  background: linear-gradient(358deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */

  &:before {
    display: $dis-inblock;
    vertical-align: middle;
    content: " ";
    height: $base-height-full;
  }
}

.modal-dialog {
  display: $dis-inblock;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
  @include border-radius(0);
}

.modal-backdrop.in {
  opacity: 0.9;
}


/****************************************
   3.2 Landing/Home Page Styles
****************************************/
/* banner */
.banner-area {
  .banner-list {
    li {
      display: inline-block;
      padding: 0;
      position: relative;

      &:last-child {
        > img {
          border-right: none;
        }
      }

      > img {
        width: 100%;
        border-right: 1px solid #fff;
      }

      .banner-content {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;

        .banner-table {
          display: table;
          width: 100%;
          height: 100%;
        }

        .banner-cell {
          display: table-cell;
          vertical-align: middle;
          padding: 30px;

          .banner-cate-icon {
            margin-bottom: 0;
            background: #e3f8e4;
            width: 65px;
            height: 65px;
            @include border-radius(50px);
            padding: 8px;
            margin-bottom: 15px;
          }

          p {
            font-size: 24px;
            color: #fff;
            margin-bottom: 30px;

            span {
              display: block;
              font-size: 36px;
              line-height: 38px;
              font-family: 'ubuntubold';
            }
          }

          a {
            color: #fff;
            display: block;

            .plus-ico {
              background: #8dc63f;
              color: #fff;
              padding: 1px;
              width: 30px;
              height: 30px;
              @include border-radius(50px);
              display: inline-block;
              font-size: 26px;
              text-align: center;
              line-height: 25px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

/* mobile app */
.mobile-lunch-app {
  background: #ddeae7;

  .mobile-ads-tx {
    margin: 55px 0 55px 55px;

    h3 {
      font-size: 30px;
      color: #222222;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      color: #666666;
      margin-left: 5px;
    }

    .mobile-app-icons {
      margin: 15px 0 15px 0;

      li {
        display: inline-block;
        border: 1px solid #444444;
        width: 35px;
        height: 35px;
        @include border-radius(50px);
        margin-right: 15px;

        a {
          padding: 5px 4px;
          display: block;
        }
      }
    }
  }

  .mobile-ads-img {
    margin: 9px 0 0 0;
  }
}

/* Why Religare */
.religare-service-ar {
  .religare-sev-tx {
    text-align: center;

    h3 {
      margin: 40px 0 10px 0;
      font-size: 24px;
    }

    p {
      font-size: 16px;
      color: #666666;
    }
  }
}

/* Company visitor*/
.company-visitor-count {
  background: #5b666b;

  .user-visit-ar {
    .visit-user-cnt {
      padding: 15px 30px;

      .visit-user-icon {
        height: 102px;
        position: relative;
        margin-bottom: 25px;

        &:after {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 40px;
          height: 3px;
          background: #8dc63f;
          content: '';
        }
      }
      h3 {
        color: #fff;
        font-family: 'ubuntubold';
        line-height: 42px;
        font-size: 42px;
        margin: 15px 0 10px 0;
      }

      p {
        color: #fff;
        margin-bottom: 0;
      }
    }
  }
}

/* Profile Number */
.profile-number-bx {
  background: #6c767a;
  padding: 30px 0;
}
.profile-num {
  p {
    margin: 0;
  }
  .profits-tx {
    font-size: 24px;
    color: #fff;
    text-align: right;
    margin-top: 5px;
  }

  .profile-ip-bx {
    .flag-tx {
      float: left;

      .ddcommon {
        width: 82px !important;
        border-radius: 0;
        border: none;

        .divider, .ddArrow {
          display: none;
          border: none;
        }

        .ddTitle {
          background: #fff;
          border: none;
          border-radius: 0;
          border-top-left-radius: $base-border-radius;
          border-bottom-left-radius: $base-border-radius;

          .ddTitleText {
            padding: 15px 10px;
            height: 48px;
          }
        }

        .ddChild {
          width: 150px;
        }
      }

      img {
        display: inline-block;
        vertical-align: top;
        margin: 4px 5px 0 0;
      }
    }
    .profile-ip {
      float: left;
      padding: 14px 10px;
      border: none;
      border-left: 1px solid #ccc;
      width: 55%;
      height: 48px;
    }
    .submit-btn {
      float: left;
      display: block;
      background: #8dc63f;
      padding: 14px;
      width: 94px;
      height: 48px;
      text-align: center;
      color: #fff;
      border-top-right-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }
  }
}



/************************************************************************************

=========================== 05 Footer Styles ============================

************************************************************************************/

/****************************************
   5.1 Footer Page links Styles
****************************************/
.footer-area {
  padding: 25px 0;
}
.footer-links {
  margin-bottom: 35px;

  .footer-page-link {
    h4 {
      color: #fff;
      font-size: 14px;
    }

    .footer-link-list {
      margin-left: 15px;

      li {
        list-style: disc;
        color: #fff;

        a {
          color: #d4d4d4;
          display: block;
          padding: 5px 0;
        }

        .ft-sub-menu {
          margin-left: 15px;

          li {
            list-style: none;
            position: relative;

            &:before {
              content: '-';
              position: absolute;
              left: -15px;
              top: 2px;
              font-size: 19px;
              color: #fff;
              font-family: 'ubuntulight';
            }
          }
        }

      }
    }
  }
}


.ft-download-app {
  margin-bottom: 35px;

  .profile-num {
    .profits-tx {
      float: left;
      font-size: 14px;
      margin: 15px 15px 0 0;
    }

    .profile-ip-bx {
      .profile-ip {
        width: 40%;
      }
    }
  }

  .android-apply-ic {
    text-align: right;

    li {
      display: inline-block;
      padding: 5px;
      margin: 0 5px;
      border-radius: 4px;

      &.andriod-ic {
        background: #212121;
      }

      &.apple-ic {
        background: #fff;
      }
    }
  }
}

.sitemap-area {
  margin-bottom: 30px;

  .sitemap-sec {
    .site-link-list {
      margin-top: 5px;

      li {
        float: left;
        border-right: 1px solid #8dc63f;

        &:first-child {
          a {
            padding-left: 0;
          }
        }

        &:last-child {
          border: none;
        }

        a {
          display: block;
          padding: 0px 10px;
          color: #8dc63f;
        }
      }
    }

    .ft-social-link {
      text-align: right;

      li {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}

.ft-logo-content {
  padding: 30px 0;

  .ft-logo {
    margin-bottom: 10px;
  }

  p {
    color: #848484;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
/************************************************************************************

=========================== 06 Common Styles ============================

************************************************************************************/

/****************************************
   6.1 Icons Styles
****************************************/
.icons {
  background-image: url("../images/spirit-icon.png");
  background-repeat: no-repeat;
  display: block;
  height: 25px;
  width: 25px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;

  &.up-icon {
    background-position: -7px -6px;
  }

  &.down-icon {
    background-position: -7px -16px;
  }

  &.user-icon {
    background-position: -3px -30px;
  }

  &.search-icon {
    background-position: -28px -30px;
  }

  &.andriod-icon {
    background-position: -28px -5px;
  }

  &.apple-icon {
    background-position: -52px -5px;
  }

  &.andriod-big-icon {
    background-position: -4px -79px;
  }

  &.apple-big-icon {
    background-position: -40px -79px;
  }

  &.fb-icon {
    background-position: -6px -220px;
    width: 34px;
    height: 34px;
  }
  &.tw-icon {
    background-position: -47px -220px;
    width: 34px;
    height: 34px;
  }
  &.link-icon {
    background-position: -89px -220px;
    width: 34px;
    height: 34px;
  }
  &.youtube-icon {
    background-position: -131px -220px;
    width: 34px;
    height: 34px;
  }
  &.gplus-icon {
    background-position: -173px -220px;
    width: 34px;
    height: 34px;
  }
  &.equity-icon {
    background-position: -5px -267px;
    width: 44px;
    height: 34px;
  }
  &.derivatives-icon {
    background-position: -60px -268px;
    width: 44px;
    height: 34px;
  }
  &.commodities-icon {
    background-position: -113px -268px;
    width: 44px;
    height: 34px;
  }
  &.currency-icon {
    background-position: -165px -268px;
    width: 30px;
    height: 34px;
  }
  &.mutual-fund-icon {
    background-position: -202px -266px;
    width: 44px;
    height: 38px;
  }
  &.product-service-icon {
    background-position: -253px -268px;
    width: 37px;
    height: 38px;
  }
  &.about-religare-icon {
    background-position: -305px -268px;
    width: 37px;
    height: 38px;
  }
  &.market-overview-icon {
    background-position: -5px -267px;
    width: 44px;
    height: 34px;
  }
  &.research-reports-icon {
    background-position: -349px -266px;
    width: 44px;
    height: 38px;
  }
  &.tools-icon {
    background-position: -397px -266px;
    width: 44px;
    height: 38px;
  }
}

/****************************************
   6.1 Accordion Styles
****************************************/

.accordionButton {
  border-top: 1px solid #545859;
  border-bottom: 1px solid #545859;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
}

.accordionContent {
  //background: #95B1CE;
  color: #fff;
}



/********************************************************
   6.16 Common Class Styles
********************************************************/

.main-container {
  width: 1366px;
  margin: auto;

  @media screen and (max-width: 1365px) {
    width: 100%;
  }
}

.white-bg {
  background: #fff;
}

/*********** Overlay Styles **************/
.overlay-bg {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9;

  &.active {
    display: block;
  }
}
/* heading */
.heading-bx {
  position: relative;
  text-align: center;
  min-height: 63px;
  margin: 0px 0 50px 0;

  h2 {
    font-size: 32px;
    color: #222222;
    margin: 0;
  }

  .heading-line {
    width: 100%;
    position: absolute;;
    bottom: 0;

    p {
      width: 100px;
      margin: 0 auto;
      height: 3px;

      &.green-line {
        background: #8dc63f;
      }

      &.yellow-line {
        background: #fff200;
      }
    }
  }
}

.content-pd {
  padding: 60px 0;
}

.border-none {
  border: none !important;
}